body {
    font-family:"Geneva";
    text-align: center;
}
table {
    margin:auto;
}
h1 {
    font-family:"Lucida Console";
    color:black;
    text-align: center;
}
h2 {
    font-family:"Lucida Sans Unicode";
    text-align: center;
}
p {
    font-family:"Lucida Sans Unicode", "Lucida Grande";
    color: black;
    font-size: 12px;
}
h3 {
    font-family:"Lucida Console";
    color: #22f460;
    background-color:#ff0065;
}
h4 {
    font-family:"Lucida Console";
    text-align: center;
    background-color:#fbff00;
}
h5 {
    font-family:"Lucida Console";
}
thead {
    font-weight:bold;
    background-color:#ffcb00;
    height: 50px;
}
td {
    width: 200px;
    height:75px;
    border: 1px dashed #ff0065;
}
img {
    width:199px;
    height:150px;
}
input {
    height:50px;
    width:200px;
    background-color:#BCD2EE;
    border-radius:5px;
    font-size:16px;
    margin:auto;
}